footer.footer
  .container 
    h2.footer__title 
      span Green&nbsp
      | Investment & Consulting	
    .row 
      .col-md-3.footer__links
        h4 San Francisco HQ
        ul
          li  2391 Locust Street
          li San Francisco, CA 49503 
          br
          li Tel: (888)-353-3532
          li Fax: (888)-353-5432
      .col-md-3.footer__links
        h4 About
        ul
          li 
            a(href="javascript:") Team 
          li 
            a(href="javascript:") Approach
          li
            a(href="javascript:") News & Press
      .col-md-3.footer__links
        h4 Legal
        ul
          li 
            a(href="javascript:") Terms Of Use 
          li 
            a(href="javascript:") Privacy Policy 
          li
            a(href="javascript:") Copyrights Info 
          li
            a(href="javascript:") Disclaimer
      .col-md-3.footer__links
        h4 Social Links
        ul.footer__social
          li 
            a(href="javascript:") 
              i.fa.fa-facebook-square
          li 
            a(href="javascript:") 
              i.fa.fa-twitter
          li
            a(href="javascript:") 
              i.fa.fa-instagram
          li
            a(href="javascript:")
              i.fa.fa-google-plus
    p Copyrights
